:root {
    --content-width: 97%;
}

a {text-decoration: none;}

* {font-family: Helvetica, Arial, sans-serif;}

.text-bold {font-weight: bold;}

body {background-color: rgb(240, 240, 240);}


#main-content, #box-2{
    margin: 0 auto;
    width: var(--content-width);
    background-color: white;
}


.subheader-text {
    font-size: 14px;
    color: rgb(43, 43, 43);
}

.nw-font {
    font-family: "Arvo", sans-serif;
}

/* wpkopq13313t13t */

#in-the-magazine, #featured-stories, #box-2{
    border: 1px red solid;
}

/* HEADER STYLING */

header {
    border: 1px solid purple;
    background-color: white;
    margin: 0 auto;
    width: var(--content-width);
}

header h1 {
    line-height: 65px;
    font-size: 80px;
    border: 1px solid;
}

.heading-container {
    position: relative;
    background-color: rgb(255, 17, 0);
    min-height: 120px;
}

.heading {
    position: absolute;
    top: 20px;
    border: 2px solid black;
    width:90%;
    color: white;
}

header .buttons {
    min-width: 200px;
    border: 1px white solid;
}

#nav-2 a:first-child,
#nav-1 a {
    color: black;
}

#nav-2 a {
    text-transform:uppercase;
    color: grey;
}

/* ------------------------------------------- */

/* PADDINGS AND MARGINS AND BORDERS */

.content-padding {
    padding: 0.7rem 0 0.7rem 0;
}

.nomargin {margin: 0 !important;}

.nopad {padding: 0 !important;}

.noborder {border: none;}

/* .main-padding {padding: 1rem 2rem 1rem 2rem}; */

.main-margin {margin: 0 1rem 0 1rem;}

.img-margin {margin-right: 0.8rem;}


/* MOST IMPORTANT, PADDING FOR MAIN ELEMENT SMAKES EVERYTHING ALIGNED */
.base-pad {padding: 0 1.8rem 0 1.8rem};


.border-top {
    border-bottom: 0 none;
    border-left: 0 none;
    border-right: 0 none;
}

.border-bottom {
    border-top: 0 none;
    border-left: 0 none;
    border-right: 0 none;
}

/* #VS CIRCLE */

#vs-container {
    /* border: 1px red solid; */
    position: relative;
}

#vs-icon {
    border-radius: 50%;
    position: absolute;
    top: 0px;
    left: 47%;
    height: 30px;
    width: 30px;
    background-color: black;
    color: white;
}

#vs-icon p {
    position: absolute;
    top:4px;
    left: 5px;
}
/* 
-------------------- */

#opinion img,
#the-debate img{
    max-width: 90px;
    max-height: 80px;
}

#more-stories,
#latest-news {
    font-size: 14px;
}

.editions,
footer .links {
    color: rgb(92, 92, 92);
    font-size: 15px;
}

#copyright {
    font-size: 12px;
}

/* base pad shouldnt be 1.8rem at 2 col layout */

@media only screen and (max-width: 992px) {
    .base-pad {padding: 0 1rem 0 1rem;}

    :root {
        --content-width: 100%;
    }

    #nav-1, #nav-2 {
        display: none;
        visibility: hidden;
    }
    /* add padding to mid column */
    #content-group-1 {padding: 0 1rem 0 1rem !important;}
}

@media only screen and (max-width: 768px) {
    .side-img {min-width: 230px;}
}


